<div class="item">
  <div class="feed-date">
    <%= feed.data_time.strftime("%I:%M %d-%m-%Y") %>
    <a href="<%= feed.link %>" class="feed-link">Оригинал</a>
    <span class="pull-right"><%= social_share_button_tag( feed.title ) %> </span>
  </div>
  <div class="feed-title">
    <%= link_to feed.title, feed, class: "feed-link"%>
  </div>
  <div style="clear:both;"></div>

  <div class="feed-mini-description">
    <p ><%= strip_tags(feed.description).slice(0..100)  %>...</p>
  </div>
  <div class="feed-img">
     <img src="<%= feed.image %>">
  </div>
  <div class="feed-footer">
    <i class="fa fa-commenting" aria-hidden="true"> <%= feed.comments.size %></i>
    <i class="fa fa-eye" aria-hidden="true"> <%= feed.view_count%></i>
    <% if can? :edit, feed %>
      <%= link_to "Редактировать", edit_feed_path(feed), class: "feed-link"%>
    <% end %>
    <%if can? :destroy, feed %>

        <%= link_to 'Удалить', feed_path(feed), method: :delete, data: { confirm: 'Are you sure?' }, class: "feed-link" %>
    <% end %>
  </div>
</div>
