<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <%= form_with(model: feed, local: true) do |f| %>
      <% if feed.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(feed.errors.count, "error") %> prohibited this feed from being saved:</h2>
          <ul>
          <% feed.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label 'Название новости' %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label 'Ссылка на картинку' %>
        <%= f.text_field :image, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label 'Краткое содержание' %>
        <%= f.text_area :body, class: " text-area-comment " %>
      </div>
      <div class="textarea-form">
        <%= f.label 'Содержание новости ' %>
        <%= f.trix_editor :full_description, class: 'editor' %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
  <div class="col-md-3"></div>
</div>
