<p id="notice"><%= notice %></p>

<div class="news-size"><%= "Количество новостей на сайте: #{@size} "%></div>
<%= link_to 'Загрузить новые новости', update_news_feeds_path, data: { confirm: 'Are you sure?' } %>|
<%= link_to 'админ панель', admin_path%>



<!-- <%= render 'search'%> -->
<section id='feeds'>
  <%= render 'shared/feed_item' %>
</section>

<%= will_paginate @feeds %>
<br>

<%= link_to 'New Feed', new_feed_path %>
