
<div class="tabs">
  <ul class="nav  nav-tabs profile_nav_link ">
    <li class="active">
      <a href="#tab-1" data-toggle="tab">Мой профиль</a>
    </li>
    <li>
      <a href="#tab-2" data-toggle="tab">Мои комментарии<span class="badge"><%= @user.comments.size%></span></a>
    </li>
    <li>
      <a href="#tab-3" data-toggle="tab">Избранное<span class="badge"><%= @user.feeds.size%></span></a>
    </li>
  </ul>

</div>
<div class="row">
  <div class="col-md-4">
   <div class="user_bar">
     <%= render 'shared/my_profile'%>
   </div>
  </div>
  <div class="col-md-8">
    <div class="user_bar user_right_bar">
      <div class="tab-content">
        <div class="tab-pane active" id="tab-1">
          Смотрите твиты ваших друзей прямо у нас на сайте >> <%= link_to 'Twitter', '/auth/twitter' %>
          <% if can?(:create, Feed) %>
          <br>
          <%= link_to 'новая новость', new_feed_path %>
          <% end %>
        </div>
        <div class="tab-pane " id="tab-2">
          <%= render 'shared/my_comments'%>
        </div>
        <div class="tab-pane " id="tab-3">
          <%= render 'shared/my_favorite'%>
        </div>
      </div>
    </div>
  </div>
</div>
