<div class="row dashboard-content shadow">
  <div class="col-md-6">
    <% @categories.each do |category|%>
    <span style="font-size: 16px; font-weight:600;"><%= category.name%>:</span> <span><%= category.view_count %> просмотров</span>
      <div class="progress progress-line" style="width:100%;">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
        style="width: <%=(category.view_count * 100)/ @all_category_count %>%;">
        <%=(category.view_count * 100)/ @all_category_count %>%
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-6 dashboard-content-stats">
    <div class="user-online shadow" style="background-color: #3495d6;">
      <p><%= User.online.size %></p>
      <span>  Пользователей онлайн</span>
      <i class="fa fa-users" aria-hidden="true"></i>
    </div>
    <div class="user-online shadow" style="background-color: #28b779;">
      <% a = Feed.where('created_at >= ? AND created_at < ?', Time.current.beginning_of_day, Time.current.beginning_of_day + 1.day)%>
      <p><%= a.size %></p>
      <span>Новостей за 24 часа</span>
      <i class="fa fa-newspaper-o" aria-hidden="true"></i>
    </div>
    <div class="user-online shadow" style="background-color: #9a59b5;">
      <% a = Feed.where('created_at >= ? AND created_at < ?', Time.current.beginning_of_day, Time.current.beginning_of_day + 1.day)%>
      <p><%= Feed.all.size %></p>
      <span>Всего новостей в базе</span>
      <i class="fa fa-newspaper-o" aria-hidden="true"></i>
    </div>
  </div>
</div>
