<div class="container-fluid header3">
  <div class="row">
    <div class="col-md-6">
      <div class="filter-and-search">
        <%= form_with url: search_feeds_path, method: "Get",html: { id: 'form-search' } , local: true  do |f| %>
            <input type="text" class="search-input" name="title_search" placeholder="Поиск" required>
            <input type="submit"   class="search-btn" value="">
        <% end %>
        <div class="filter-btn">
          <a href="javascript:void(0);" id="filter"><i class="fa fa-filter" aria-hidden="true"></i> Фильтр</a>
          <div id="filter_container" class="filter">
               <%= render 'feeds/search'%>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="filter-and-search">

      </div>
    </div>
    <div class="col-md-3">
      <div class="filter-and-search">
        <div class="row">
           <div class="col-md-8 user_menu">
             <ul>
               <%if user_signed_in? %>
                <li><i class="fa fa-sign-out" aria-hidden="true"></i><%=link_to 'Выйти', destroy_user_session_path , method: :delete%></li>
                <li><i class="fa fa-user" aria-hidden="true"></i><%=link_to ' Профайл', profile_user_path(current_user.id) %></li>
                <li><i class="fa fa-cog" aria-hidden="true"></i><%=link_to ' Настройки', profile_setup_user_path(current_user.id)%></li>
               <% else %>
                <li><i class="fa fa-sign-in" aria-hidden="true"></i><%=link_to ' Войти', new_user_session_path%></li>
                <li><i class="fa fa-user-plus" aria-hidden="true"></i><%=link_to ' Регистрация', new_user_registration_path%></li>
               <% end %>
             </ul>
           </div>
           <div class="col-md-4">
             <%if user_signed_in? %>
               <div class=" user_logo ">
                 <a href="<%= profile_user_path(current_user.id)%>">
                 <%= image_tag current_user.avatar.url(:thumb),:style => "" if current_user.avatar?%>
                 </a>
               </div>
            <% end %>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>
