<div class="container-fluid header3">
  <div class="row">
    <div class="col-md-6">
        <div class="filter-and-search">
          <%= form_with  url: feeds_path, method: "Get",html: { id: 'form-search' } , local: true  do |f| %>
              <input id="who" type="text" class="search-input" name="title_search" placeholder="Поиск" required>
              <input type="submit"   class="search-btn" value="">
          <% end %>
          <% if(current_user) %>
            <div class="filter-btn">
              <a href="javascript:void(0);" id="filter" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="fa fa-filter" aria-hidden="true"></i> Фильтр</a>
            </div>
            <%= render 'shared/filter_window'%>
          <% end %>
        </div>
        <div class="fast-search">
           <div id="search_advice_wrapper"></div>
        </div>
    </div>
    <div class="col-md-3">
      <div class="filter-and-search">

      </div>
    </div>
    <div class="col-md-3">
      <div class="filter-and-search">
        <div class="row">
           <div class="col-md-8 user_menu">
             <ul>
               <%if user_signed_in? %>
               <li><%=link_to '<i class="fa fa-sign-out" aria-hidden="true"></i> Выйти'.html_safe, destroy_user_session_path , method: :delete%></li>
               <li><%=link_to '<i class="fa fa-user" aria-hidden="true"></i> Профайл'.html_safe, profile_user_path(current_user.id) %></li>
               <li><%=link_to "<i class='fa fa-cog' aria-hidden='true'></i> Настройки".html_safe, profile_setup_user_path(current_user.id)%></li>
               <% else %>
                <li><%=link_to '<i class="fa fa-sign-in" aria-hidden="true"></i> Войти'.html_safe, new_user_session_path%></li>
                <li><%=link_to '<i class="fa fa-user-plus" aria-hidden="true"></i> Регистрация'.html_safe, new_user_registration_path%></li>
               <% end %>
             </ul>
           </div>
           <div class="col-md-4 user_logo_wrap">
             <%if user_signed_in? %>
               <div class=" user_logo ">
                 <a href="<%= profile_user_path(current_user.id)%>">
                 <%= image_tag current_user.avatar.url(:thumb),:style => "" if current_user.avatar?%>
                 </a>
               </div>
            <% end %>
           </div>

        </div>
      </div>
    </div>
    <div class="col-md-12 categories-list">
      <%= render 'shared/categories'%>
    </div>
  </div>
</div>
<script type="text/javascript">
  $("#who").bind("input ", function() {
    if(this.value.length >= 2){
        $.ajax({
            type: 'GET',
            url: "/search", 
            data: {'title_search':this.value},
            success: function(data){
              $("#search_advice_wrapper").html('');
              for(i in data){
                $("#search_advice_wrapper").append('<a class="feed-link" href=/feeds/'+data[i]["id"]+'><div class="advice_variant"><img src='+data[i]["image"]+'><span>'+data[i]["title"].substring(0, 50)+'...</span></div></a>').show(600);
              }
             console.log( data ); 
           }
       });
    }
  });

  $( "#who" ).focusout(function() {
     $(".advice_variant").hide(500);
  });
  $( "#who" ).focus(function() {
     $(".advice_variant").show(500);
  });
</script>