<div class="container-fluid header">
   <div class="row">
       <div class="col-md-12">
         <div class="nav-nemu container">
            <div class="logo pull-left">
               <img src="https://dec-edu.com/uploads/images/news-logo.png">
             <!--<span>TopNewsLogo</span> -->
            </div>
            <div class="top-bar pull-right">
             <ul class=" top-bar-items">
                 <li>
                     <ul class="social-link-top">
                     <li><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                     <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                     <li><a href=""><i class="fa fa-google-plus-official" aria-hidden="true"></i></a></li>
                     </ul>
                 </li>
               <li><a href="">home</a></li>
               <li><a href="">pages</a></li>
               <li><a href="">contacns</a></li>
               <%if user_signed_in? %>
                 <li><%=link_to 'Выйти', destroy_user_session_path , method: :delete%></li>
                 <div class="logo pull-right">
                   <a href="<%= profile_user_path(current_user.id)%>">
                   <%= image_tag current_user.avatar.url(:thumb),:style => "margin-left:20px;width: 80px;height: 80px; border-radius:55px; " if current_user.avatar?%>
                   </a>
                 </div>
               <% else %>
                 <li><%=link_to 'Войти', new_user_session_path%></li>
                 <li><%=link_to 'Зарегистрироватся', new_user_registration_path%></li>
               <% end %>
             </ul>
            </div>
          </div>
       </div>
       <div class="col-md-12 search">
             <div class="group">

               <%= form_with url: search_feeds_path, method: "Get",html: { id: 'form-search' } , local: true  do |f| %>
                   <input type="text" class="search-input" name="title_search" required>
                   <span class="highlight"></span>
                   <span class="bar"></span>
                   <label class="search-label">Поиск по сайту</label>
                   <input type="submit"   class="search-btn" value="">
               <% end %>

          <div class="rates">
            <ul class="top-bar-items">
              <% rates = Rate.last(3)
                 rates.each do |rate|  %>
                    <li><span><%= rate.title %>  <%= eval(sprintf("%8.3f",rate.rate))  %></span></li>
              <% end %>
                      </ul>
          </div>
         </div>
       </div>
       <div class="col-md-12 top-bar-items news-bar">
         <ul class="news-nav">
           <li><%= link_to 'Все новости', feeds_path %></li>
           <li><%= link_to 'События', events_path%></li>
           <li><%= link_to 'моя лента', my_feed_feeds_path%></li>
         </ul>
       </div>
    </div>
 </div>
