<p id="notice"><%= notice %></p>

<div class="row">
    <% @events.each do |event| %>
    <div class="col-md-4" style="padding: 5px;" id="<%= event.id %>">
      <div class="article-padding" >


      <h3><%= link_to event.title, event %></h3>
      <div class="link_and_time">
        <small><p style=”margin-top:-10px”> <%= event.start_time.strftime("%I:%M %d-%m-%Y") %> | <a href=""><em>Адрес оригинала</em></a></a></p></small>
      </div>
      <p>
        <%= event.city%>
      <%= event.description.html_safe.slice(1..100)%>
      </p>
        <%= social_share_button_tag( event.title ) %>
      <%= link_to 'Show', event %> |
      <%= link_to 'Edit', edit_feed_path(event) %> |
      <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    </div>
    <% end %>
</div>

<br>

<%= link_to 'New Feed', new_event_path %>
