
<div class="row">
  <div class="col-md-8">
    <h4><%= @event.title %></h4>
    <p>Город: <%= @event.city["city"]%></p>
    <p>Страна: <%= @event.city["country"]%></p>
    <p>Улица: <%= @event.city["street"]%></p>
    <p>Время начала: <%= @event.start_time.to_date.strftime("%I:%M %d-%m-%Y") %></p>
    <p>Время окончания: <%= @event.end_time.to_date.strftime("%I:%M %d-%m-%Y")%></p>
    <p><a href="<%= @event.link%>">оригинал</a></p>
    <%= @event.description%>
  </div>
</div>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
