<p id="notice"><%= notice %></p>
<div class="row">

  <div class="col-md-8">


    <h4><%= @event.title %></h4>
    <%= @event.city%>
    <%= @event.start_time.to_date.strftime("%d-%m-%Y") %>
    <%= @event.end_time.to_date.strftime("%d-%m-%Y") %>
    <i class="material-icons">remove_red_eye</i>33
    <%= @event.description%>
  </div>
</div>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
