

<h3>Ресурсы</h3>

<%= link_to " Довавить ресурс" , new_admin_source_path, class: "link-to-class"  %>

<table class="table table-striped">
  <thead>
    <tr class="">
      <td>Название ресурса</td>
      <td>Url ресурса </td>
      <td>Url изображения </td>
      <td>Url описания </td>
    </tr>
  </thead>

  <tbody>
    <% @sources.each do |source| %>
      <tr class="">
        <td><%= source.name %></td>
        <td><%= source.api_url %></td>
        <td><%= source.image_url %></td>
        <td><%= source.description_url %></td>
        <td>
          <%source.categories.each do |cetegory| %>
            <%= cetegory.name %>
          <% end %>
        </td>
        <td><%= link_to 'Просмотр', admin_source_path(source) %>
          <%= link_to 'Редактировать', edit_admin_source_path(source) %>
          <%= link_to 'Удалить', admin_source_path(source), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
