
<h3>Категории</h3>
<%= link_to "Добавить категорию" , new_admin_category_path, class: "link-to-class"  %>
<table class="table table-striped">
  <thead>
    <tr class="">
      <td>Название категории</td>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr class="">
        <td><%= category.name %></td>
        <td><%= link_to 'Просмотр', admin_category_path(category) %></td>
        <td><%= link_to 'Редактировать', edit_admin_category_path(category) %></td>
        <td><%= link_to 'Удалить', admin_category_path(category), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
