<p id="notice"><%= notice %></p>

<h1>categories</h1>

<table>
  <thead>
    <tr class="index_table">
      <td>Название категории</td>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr class="index_table">
        <td><%= category.name %></td>
        <td><%= link_to 'Show', admin_category_path(category) %></td>
        <td><%= link_to 'Edit', edit_admin_category_path(category) %></td>
        <td><%= link_to 'Destroy', admin_category_path(category), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New category', new_admin_category_path %> | <%= link_to 'Back To Feeds', feeds_path %>
